<div class="hero-unit">
  <h1>Lemonであなたの生活をもっと豊かに。</h1>
</div>
<h2>アンケートページへようこそ!</h2>
<ul class="unstyled">
  <li><%= link_to 'ログイン', [ :new, :user_session ]  %></li>
  <li><%= link_to 'ユーザー登録', [ :new, :user_registration ]  %></li>
  <li><%= link_to 'パスワード再発行', [ :new, :user_password ]  %></li>
</ul>